<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="driverManagerDataSourceBean">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/Quovantis"/>
        <property name="username" value="root"/>
        <property name="password" value="Olivia@83"/>
    </bean>

    <bean class="org.springframework.jdbc.core.JdbcTemplate" name="JDBCTemplateBean">
        <property name="dataSource">
            <ref bean="driverManagerDataSourceBean"/>
        </property>
    </bean>

    <bean class="db.CustomerDao" name="customerDaoBean">
        <property name="jdbcTemplate" ref="JDBCTemplateBean"/>
    </bean>

</beans>